<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>debugServerLog.log</file>
		<!-- daily rollover -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>debugServerLog.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm} [%thread] %-5level %logger{35} - %msg %n
			</pattern>
		</encoder>
	</appender>
	
	<appender name="PACKET-LOGGER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>packetLogger.log</file>
		<!-- daily rollover -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>packetLogger.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm} [%thread] %-5level %logger{35} - %msg %n
			</pattern>
		</encoder>
	</appender>

	<logger name="packet-logger" level="DEBUG" additivity="false">
		<appender-ref ref="PACKET-LOGGER" />
	</logger>

	<root>
		<appender-ref ref="FILE" />
	</root>

	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<logger name="org.springframework.web" level="DEBUG" />
	<logger name="com.conch" level="DEBUG" />
</configuration>